<br>

<div class="card border-primary mb-3">
    <div class="card-header">
        <h3 class="text-center">
            Tipos de destino
        </h3>
    </div>
    <div class="card-body text-dark">


        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/tipo-destino/crear-tipo-destino']">Crear tipo de destino</button>
        </div>
        <div class="form-group">
            <input type="text" name="like" id="like" placeholder="Buscar por nombre" class="form-control" (keyup)="busqueda(buscarTexto.value)" #buscarTexto>
        </div>
        <br>
        <table class="table table-bordered table-striped" *ngIf="tideList.length >0; else aviso">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre</th>
                    <th style="width: 12%;">Fecha creacion</th>
                    <th class="text-center" style="width: 42%;">Descripción</th>
                    <th>Creador</th>
                    <th>Estado</th>
                    <th>Ver más</th>
                    <th>Eliminar</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor=" let tide of tideList">
                    <td> {{tide.nombre}} </td>
                    <td> {{tide.fechaCreacion | date}} </td>
                    <td> {{tide.descripcion}} </td>
                    <td> {{tide.usuCreador}} </td>
                    <td> {{tide.estado}} </td>


                    <td>
                        <button type="button" name="button" class="btn btn-success" [routerLink]="['/tipo-destino/editar-tipo-destino', tide.idTide]">Editar</button>
                    </td>
                    <td>
                        <button type="button" name="button" class="btn btn-danger" (click)="eliminar(tide)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #aviso>
            <h2 class="text-center">!No se encontraron tipos de destino con este nombre!</h2>

        </ng-template>
    </div>
</div>